body {
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
}
.unselectable {
    -webkit-touch-callout: none; 
    -webkit-user-select: none;  
    -khtml-user-select: none;   
    -moz-user-select: none;    
    -ms-user-select: none;  
    user-select: none;          
}
.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo_container {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #101010;
    position: fixed;
    top: 0;
}
.header_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #151515;
    color: white;
}
.logo {
    width: 200px;
    height: 100px;
    background-color: rgb(255, 0, 0);
}
.header_category {
    padding: 10px 20px 10px 20px;
    margin: 2px 2px 2px 2px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #151515;
    transition: all ease .3s;
}
.header_category:hover {
    background-color: #404040;
    border-radius: 20px;
}

.content {
    background-color: #f2d0ff;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content_movies_container {
    width: 80%;
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.content_movie {
    width: 300px;
    height: 533px;
    background-color: yellow;
    position: relative;
}
.img {
    width: 300px;
    height: 533px;
    background-color: green;
}
.movie_rating {
    position: absolute;
    bottom: 0px;
    width: 300px;
    height: 100px;
    background-color: blue;
}
.movie_title {
    position: absolute;
    bottom: 100px;
    width: 280px;
    margin: 0;
    padding: 10px;
    background-color: brown;
    font-family: Arial, sans-serif;
    color: white;
    font-size: 28px;
    word-wrap: break-word;
}